.cart-item {
    display: flex;
    max-width: 100%;
    margin-bottom: 20px;
}
.cart-product-details {
    font-size: 12px;
    .cart-item-title {
        text-transform: uppercase;
        margin-bottom: 6px;
    }
}

.cart-image-container {
    width: 120px;
    position: relative;
    padding-top: 40%;
    overflow: hidden;

    img {
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
    }
}

.cart-product-info {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.quantity-button {
    cursor: pointer;
    padding: 2px 20px;
}